:root {
    --azul: #00B6FF;
    --branca: #fff;
    --preto1: #222;
    --preto2: #999;
    --lilas: #9b59b6;
    --cinza: #ccc;
}

.perfil-customizado {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
    margin-top: 50px;
}

.perfil-customizado .perfil-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
}

.perfil-customizado .perfil-card h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--azul);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
    padding-left: 5px;
}

.perfil-customizado .perfil-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px 0 20px 0;
}

.perfil-customizado .perfil-card label {
    padding: 10px 50px;
    background: var(--azul);
    border-radius: 20px;
    cursor: pointer;
    color: var(--branca);
    font-weight: 400;
    font-size: 1rem;
}

.perfil-customizado .perfil-editar {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
    width: 500px;
    padding: 40px 20px;
    border-radius: 20px;
}

.perfil-customizado .perfil-editar h1 {
    border-bottom: 2px solid var(--azul);
    color: var(--azul);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
}

.perfil-customizado .perfil-editar #email {
    pointer-events: none;
    /* background: var(--cinza); */
}