:root {
    --azul: #00B6FF;
    --branca: #fff;
    --preto1: #222;
    --preto2: #999;
    --amarelo: #e9b10a;
    --lilas: #9b59b6;
}

.shopping-checkout {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 50px;
}

.shopping-checkout .checkout {
    margin-top: 40px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
    padding: 40px;
    border-radius: 20px;
}

.shopping-checkout .checkout h1 {
    border-bottom: 2px solid var(--azul);
}

.shopping-checkout .morada-editar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping-checkout .morada-editar a,
.carrinho .editar a {
    text-decoration: none;
}

.shopping-checkout .morada-info {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 400;
}

.shopping-checkout .checkout h2,
.shopping-checkout .checkout-pagamento h2 {
    margin-top: 10px;
    font-size: 1.1rem;
}

.shopping-checkout .checkout-pagamento {
    border-top: 2px solid var(--azul);
    margin-top: -20px;
}

.shopping-checkout .checkout-pagamento h2 {
    margin-bottom: 40px;
}

.shopping-checkout .checkout-pagamento .paypal {
    width: 100%;
    background: var(--lilas);
    margin-top: -10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 20px;
}

.checkout-pagamento .paypal a {
    color: var(--branca);
    font-weight: bold;
    text-decoration: none;
}

.checkout-pagamento p {
    text-align: center;
    border-bottom: 1px solid var(--preto2);
}

.shopping-checkout .carrinho {
    margin-top: 40px;
    /* border: 1px solid var(--azul); */
    padding: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.carrinho .editar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.carrinho .entraga {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.carrinho .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: 500;
}

.descricao-produtos {
    border-top: 2px solid var(--azul);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.descricao-produtos table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.descricao-produtos table tr td {
    padding: 0 10px;
    color: var(--preto1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.descricao-produtos table tr td:last-child {
    text-align: end;
}

.descricao-produtos table tr:last-child td {
    border: none
}
