:root {
    --azul: #00B6FF;
    --branca: #fff;
    --preto1: #222;
    --preto2: #999;
    --lilas: #9b59b6;
}

.pagina-nao-encontrada {
    width: 100%;
    height: 100vh;
    background: url('../../../img/background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branca);
    flex-direction: column;
}

.pagina-nao-encontrada h1 {
    margin-top: 30px;
    font-size: 2.5rem;
}

.pagina-nao-encontrada a {
    margin-top: 10px;
    text-decoration: none;
    color: var(--branca);
    padding: 15px 60px;
    background: var(--azul);
    font-weight: 500;
    border-radius: 20px;
}