:root {
    --azul: #00B6FF;
    --branca: #fff;
    --preto1: #222;
    --preto2: #999;
    --lilas: #9b59b6;
    --verde: #8de02c;
    --vermelho: #f00;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden; 
    overflow-x: hidden;
    width: 700px;
    height: 500px;
    background: var(--branca);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    gap: 50px;
}

.login .login-capa {
    background: url(../../../img/background1.jpeg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 37%;
    height: 100%;
    margin-left: -130px;
}

.login-form {
    margin-left: 30px;
}

.login-form .login-form-info {
    text-align: center;
    color: var(--preto1);
}
.login-form .login-form-info h2 {
    margin-bottom: 10px;
}

.login-rodape {
    text-align: center;
}

.login-rodape a {
    text-decoration: none;
    color: var(--preto2);
    font-weight: 300;
}

.login-rodape a:hover {
    font-size: 1.1rem;
}